# This is Sample Config File. 
# Copy this as config.ini , Add Timescape Infra UserID & Base64 Encoded Infra Password
# To encode Base64 password visit : https://www.base64encoder.io/
# Do not Touch the Login Link, 

[jiffy]
link=https://jiffy.timesgroup.com/timescape/jiffy/#/webtimestamp
# Enter Infra ID & Base64 Encoded Infra Password Below
mail=InfraEmailID@example.com
pass=Encoded_Password_Here

# Get Telegram BotID from botfather & Telegram ChatID from https://stackoverflow.com/a/49852274
[telegram]
Bot_tkn=XXXXX:YYYYYYYY
Chat_ID=-CHATIDHERE
